#footer{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;

}
#content{
	margin-bottom: 23px;
}

.ui-block-a > div > img, .ui-block-b > div > img, .ui-block-c > div > img {
    width: 100%;
}

.ui-grid-a > .mainBlock {
    width: 75%;
}

.ui-grid-a > .smallBlock, .ui-block-b > .smallBlock {
    width: 25%;
}

.ui-grid-a > .smallBlock > img{
    width: 25%;
}

.ui-grid-a > .fullWidth {
    width: 100%;
}
#return{
	width:100%;
}

#clock {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    text-align: center;
}