#footer{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;

}
#content{
	margin-bottom: 23px;
}

img {
    width: 100%;
}

.ui-grid-a > .mainBlock {
    width: 75%;
}

.ui-grid-a > .smallBlock {
    width: 25%;
}

.ui-grid-a > .smallBlock > img{
    width: 25%;
}

.ui-block-b > .fullWidth {
    width: 100%;
}
